body{
  width: 100%;
  height: 2000px;
  margin: 0;
  font-family: Arial;
}
a{
    color: white;
    text-decoration: none;
}
.header-wrapper{
    width: 100%;
    height: 650px;
    background-image: url('../images/header/slide-4.jpg');
    background-color: darkgray;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: 1.5s;
}
.header-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 2;
}
.header-menu-wrapper{
    width: 100%;
    position: relative;
}
.header-menu-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.25);
    z-index: 2;
}
header{
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    justify-content: space-between;
    font-size: .9rem;
    position: relative;
    z-index: 9;
    font-family: Arial;
}
.header-menu ul{
    display: flex;
}
.header-menu li{
    margin-left: 17px;
    margin-right: 17px;
    font-size: 1rem;
    font-family: Arial;
    letter-spacing: 1px;
    cursor: pointer;
}
.header-menu li:hover{
    color:#0093D0;
}
header select{
    background: none;
    border: none;
    color: white;
    font-family: Arial;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
}
header option{
    background: none;
    color: black;
}
.laguage-select{
    padding-right: 10px;
}
.phone-select{
    padding-right: 10px;
}
.banner-info-wrapper{
    display: flex;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.social-nav{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.social-nav a{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    transform: rotate(270deg);
    webkit-transform: rotate(270deg);
    cursor: pointer;
}
.social-nav a:hover{
    color:#0093D0;
}
.banner-info-main-text{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.banner-info-title{
    color: white;
    font-size: 5rem;
    font-weight: normal;
    font-family: Arial;
    text-transform: uppercase;

}
.banner-button-reservation{
    font-family: Arial;
    font-size: 1rem;
    color: white;
    width: 170px;
    height: 60px;
    cursor: pointer;
    background-color: #0093D0;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    margin-top: 20px;
}
.tourist-services-wrapper{
    width: 100%;
    position: relative;
}
.tourist-services{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.tourist-services-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}
.tourist-services-title-text{
    font-family: Arial;
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
}
.slider-wrapper{
    width: 100%;
    margin-top: 20px;
    /*display: flex;*/
}
.slider-wrapper-slide{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-column-gap: 15px;
    grid-row-gap: 10px;
}
.slider-wrapper div{
    position: relative;
    z-index: 4;
}
.slick-slide div{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;

 }
.tourist-services .slick-slide img{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.tourist-services .slick-slide p{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 25px;
    font-size: 1.2rem;
    color: white;
    z-index: 10;

}
.tourist-services-dark-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.tourist-services .slick-list{
    margin: 20px 20px 30px;
}
.tourist-services-slider-buttons{
    display: flex;
}
.tourist-services-slider-buttons img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.tourist-services-slider-buttons img:hover{
    opacity: .4;
}
.tourist-services-slider-right-button{
    transform: rotate(180deg);
}

.bottom-image-slider{
    margin-top: 40px;
}
.left-map{
    width: 100px;
    position: absolute;
    left: 0;
    top: 280px;
}
.left-plane{
    width: 380px;
    position: absolute;
    left: 0;
    top: 805px;
    z-index: 1;
}
.right-plane{
    width: 150px;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1;
}
.advantages-wrapper{
    width: 100%;
    height: 640px;
    background-color: #0093D0;
    margin-top: 250px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
}
.advantages{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.advantages-list-wrapper{
    display: flex;
    width: 45%;
    flex-direction: column;
    color: white;
    font-family: Arial;

}
.advantages-title{
    padding-left: 40px;
    font-size: 2.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.advantages-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.advantages-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.advantages-item img{
    width: 90px;
    height: 90px;
}
.advantages-image{
    width: 45%;
}
.advantages-image img{
    width: 100%;
    height: 730px;
}
.about-company-wrapper{
    width: 100%;
    position: relative;
}
.about-company{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*position: relative;*/
}
.about-company-info{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.about-company-title{
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.about-company-text{

}
.about-company-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50px;
}
.about-company-images img{
    width: 285px;
    height: 330px;
}
.about-company-images div{
    width: 285px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 7px;
    margin-right: 7px;
}

.about-company-images div:nth-child(2){
    margin-top: 100px;
}
.about-company-images div:nth-child(3){
    margin-bottom: 200px;
}
.about-company-images div:nth-child(4){
    margin-bottom: 200px;
}
.about-company-top-plane{
    width: 500px;
    height: 500px;
    position: absolute;
    top: -320px;
    left: 400px;
    z-index: 100;
}
.about-company-left-plane{
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 0px;
}
.about-company-center-plane{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 650px;
    left: 290px;
    /*z-index: 100;*/
}
.about-company-right-plane{
    width: 400px;
    height: 550px;
    position: absolute;
    top: 450px;
    right: 0;
}
.our-team-wrapper{
    width: 100%;
    margin-top: 900px;
    margin-bottom: 100px;
}
.our-team{
    width: 1200px;
    margin: 0 auto;
}
.our-team-title{
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.our-team-slider{
    display: flex;
    justify-content: flex-end;
}
.our-team-slide{
    display: flex;
}
.our-team-slider img{
    width: 45%;
}
.our-team-slider-info{
    width: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.tourist-services-slider-buttons img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.tourist-services-slider-buttons img:hover{
    opacity: .4;
}

.our-team-slider .slick-slide{
    display: flex;
}
.our-team-slider-right-button{
    transform: rotate(180deg);
}
.our-team-member-name{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #0093D0;
    margin-bottom: 20px;
}
.our-team-slider-position{
    font-size: .9rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.our-team-slider-text{
    width: 90%;
    font-size: 1.2rem;
}
.our-team-slider-buttons{
    display: flex;
    margin-top: 25px;
    justify-content: flex-start;
}
.our-team-slider-buttons img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.our-team-slider-buttons img:hover{
    opacity: .4;
}
.our-team-slider-buttons{
}


@media (max-width: 1440px) {
    header{
        width: 1020px;
    }
    .banner-info-wrapper{
        width: 1020px;
    }
    .tourist-services{
        width: 1020px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .advantages{
        width: 1020px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .about-company{
        width: 1020px;
    }
    .our-team{
        width: 1020px;
    }
}
@media(max-width: 1410px){
    .about-company-images{
        top: 130px;
    }
    .about-company-images img{
        width: 225px;
        height: 290px;
    }
    .about-company-images div{
        width: 225px;
        height: 620px;
        margin-left: 7px;
        margin-right: 7px;
    }

}
@media (max-width: 1024px) {
    header{
        width: 760px;
    }
    .logo{
        width: 200px;
    }
    .header-menu li{
        margin-left: 7px;
        margin-right: 7px;
    }
    .laguage-select{
        display: none;
    }
    .banner-info-wrapper{
        width: 760px;
    }
    .tourist-services{
        width: 760px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .left-plane {
        width: 280px;
        position: absolute;
        left: 0;
        top: 610px;
        z-index: -1;
    }
    .advantages-wrapper{
        height: 500px;
    }
    .advantages-image img{
        height: 590px;
    }
    .advantages{
        width: 760px;
    }
    .advantages-title{
        padding-left: 0px;
    }
    .about-company{
        width: 760px;
    }
    .our-team{
        width: 760px;
    }
    .about-company-left-plane{
        width: 250px;
        height: 400px;
        position: absolute;
        top: 150px;
        left: 0px;
    }
    .about-company-right-plane {
        width: 320px;
        height: 480px;
        position: absolute;
        top: 400px;
        right: 0;
    }
    .about-company-center-plane {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 580px;
        left: 150px;
        /* z-index: 100; */
    }
    .about-company-top-plane {
        width: 450px;
        height: 450px;
        top: -300px;
        left: 200px;
    }
    .about-company-images{
        top: 130px;
    }
    .about-company-images img{
        width: 165px;
        height: 230px;
    }
    .about-company-images div{
        width: 165px;
        height: 500px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .about-company-images div:nth-child(2){
        margin-top: 100px;
    }
    .about-company-images div:nth-child(3){
        margin-bottom: 200px;
    }
    .about-company-images div:nth-child(4){
        margin-bottom: 200px;
    }
}
@media (max-width: 768px) {
    .header-menu{
        display: none;
    }
    .phone-select{
        display: none;
    }
    .social-nav{
        display: none;
    }
    .banner-info-main-text{
        margin-top: 200px;
    }
    .banner-info-title{
        font-size: 4rem;
    }
    header{
        width: 420px;
    }
    .logo{
        width: 200px;
    }
    .laguage-select{
        display: none;
    }
    .banner-info-wrapper{
        width: 420px;
    }
    .tourist-services{
        width: 420px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .left-plane {
        width: 280px;
        position: absolute;
        left: 0;
        top: 910px;

    }
    .advantages-wrapper{
        height: 500px;
    }
    .advantages-image img{
        height: 590px;
    }
    .advantages{
        width: 420px;
    }
    .advantages-title{
        padding-left: 0px;
    }
    .about-company{
        width: 420px;
    }
    .our-team{
        width: 420px;
    }
    .about-company-images{
        top: 250px;
    }
    .about-company-info{
        width: 100%;
    }
    .about-company-images img{
        width: 90px;
        height: 140px;
    }
    .about-company-images div{
        width: 90px;
        height: 300px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .about-company-images div:nth-child(2) {
        margin-top: 20px;
    }
    .about-company-images div:nth-child(3) {
        margin-bottom: 100px;
    }
    .about-company-images div:nth-child(4) {
        margin-bottom: 100px;
    }
    .about-company-left-plane {
            width: 170px;
            height: 280px;
            top: 200px;
    }
    .about-company-right-plane {
        width: 220px;
        height: 340px;
        top: 400px;
        right: 0;
    }
    .about-company-center-plane {
        width: 300px;
        height: 300px;
        top: 580px;
        left: 100px;
    }
    .about-company-top-plane {
        display: none;
    }
    .advantages-wrapper{
        margin-bottom: 70px;
    }
    .advantages-list-wrapper{
        width: 100%;
    }
    .advantages-image{
        display: none;
    }
    .our-team-wrapper{
        margin-top: 700px;
    }
    .our-team-slider{
        flex-wrap: wrap;
    }
    .our-team-slider .slick-slide{
        display: block;
    }
    .our-team-slider img{
        width: 100%;
    }
    .our-team-slider-info{
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .our-team-slider-text{
        width: 100%;
    }
    .our-team-slider-buttons{
        width: 20%;
        margin-top: 25px;
    }
}
@media (max-width: 426px) {
    .about-company-center-plane {
        display: none;
    }
    .about-company-right-plane {
        top: 520px;
    }
    .about-company-left-plane {
        top: 150px;
    }
    .left-map{
        display: none;
    }
    header{
        width: 100%;
    }
    .logo{
        width: 200px;
    }
    .header-menu li{
        margin-left: 7px;
        margin-right: 7px;
    }
    .laguage-select{
        display: none;
    }
    .banner-info-wrapper{
        width: 100%;
    }
    .tourist-services{
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .advantages-title {
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 10px;
    }
    .tourist-services-title-text{
        font-size: 2rem;
    }
    .left-plane {
        width: 280px;
        position: absolute;
        left: 0;
        top: 810px;
        z-index: -1;
    }
    .advantages-wrapper{
        height: 450px;
    }
    .advantages{
        width: 100%;
    }
    .advantages-title{
        padding-left: 0px;
    }
    .about-company{
        width: 90%;
    }
    .our-team{
        width: 90%;
    }
    .about-company-images{
        top: 270px;
    }
    .about-company-images img{
        width: 75px;
        height: 110px;
    }
    .about-company-images div{
        width: 75px;
        height: 240px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .about-company-left-plane {
        width: 150px;
        height: 260px;
        top: 190px;
    }
    .about-company-right-plane {
        top: 450px;
    }
    .our-team-wrapper{
        margin-top: 500px
    }
    .our-team-slider-buttons {
        margin-left: 40px;
    }
}
@media (max-width: 380px) {
    .about-company-images img{
        width: 70px;
        height: 100px;
    }
    .about-company-images div{
        width: 70px;
        height: 220px;
        margin-left: 7px;
        margin-right: 7px;
    }
}

@media (max-width: 350px) {
    .about-company-images img{
        width: 60px;
        height: 95px;
    }
    .about-company-images div{
        width: 60px;
        height: 200px;
        margin-left: 7px;
        margin-right: 7px;
    }
}
